@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  min-height: 100svh;
  background-attachment: fixed;
  background-color: var(--mantine-color-dark-8);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
